In [0]:
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.access.key", "AKIAXYKJVGSIDSCOYI43")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "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")

In [0]:
from pyspark.sql.functions import col, when
from pyspark.sql.types import StringType

df1_claims = spark.read.json("s3://puskalawsbucket/capstone_puskal/claims.json")
# Count null values for each column
null_counts = {}
for col_name in df1_claims.columns:
    null_counts[col_name] = df1_claims.filter(col(col_name).isNull()).count()
# Display null counts
print("Null Value Counts:", null_counts)
for col_name, count in null_counts.items():
    print(f"{col_name}: {count}")
# Replace null values with "NA" for string-type columns
for col_name in df1_claims.columns:
    if df1_claims.schema[col_name].dataType == StringType():
        df1_claims = df1_claims.withColumn(col_name, when(col(col_name).isNull(), "NA").otherwise(col(col_name)))
# Drop duplicate and Show DataFrame including the replaced values
df1_claims_dupdropped= df1_claims.dropDuplicates()
df1_claims_dupdropped.printSchema()


df2_disease = spark.read.csv("s3://puskalawsbucket/capstone_puskal/disease.csv",header='True', inferSchema='True')
# Count null values for each column
null_counts = {}
for col_name in df2_disease.columns:
    null_counts[col_name] = df2_disease.filter(col(col_name).isNull()).count()

# Display null counts
print("Null Value Counts:",col_name,null_counts)
for col_name, count in null_counts.items():
    print(f"{col_name}: {count}")

# Replace null values with "NA" for string-type columns
for col_name in df2_disease.columns:
    if df2_disease.schema[col_name].dataType == StringType():
        df2_disease = df2_disease.withColumn(col_name, when(col(col_name).isNull(), "NA").otherwise(col(col_name)))

# Drop duplicate and Show DataFrame including the replaced values
df2_disease_dupdropped=df2_disease.dropDuplicates()
df2_disease_dupdropped.printSchema()

df3_group = spark.read.csv("s3://puskalawsbucket/capstone_puskal/group.csv",header='True', inferSchema='True')
# Count null values for each column
null_counts = {}
for col_name in df3_group.columns:
    null_counts[col_name] = df3_group.filter(col(col_name).isNull()).count()
# Display null counts
print("Null Value Counts:")
for col_name, count in null_counts.items():
    print(f"{col_name}: {count}")
# Replace null values with "NA" for string-type columns
for col_name in df3_group.columns:
    if df3_group.schema[col_name].dataType == StringType():
        df3_group = df3_group.withColumn(col_name, when(col(col_name).isNull(), "NA").otherwise(col(col_name)))
# Drop duplicate and Show DataFrame including the replaced values
df3_group_dupdropped=df3_group.dropDuplicates()
df3_group_dupdropped.printSchema()

df4_grpsubgrp = spark.read.csv("s3://puskalawsbucket/capstone_puskal/grpsubgrp.csv",header='True', inferSchema='True')
# Count null values for each column
null_counts = {}
for col_name in df4_grpsubgrp.columns:
    null_counts[col_name] = df4_grpsubgrp.filter(col(col_name).isNull()).count()
# Display null counts
print("Null Value Counts:")
for col_name, count in null_counts.items():
    print(f"{col_name}: {count}")
# Replace null values with "NA" for string-type columns
for col_name in df4_grpsubgrp.columns:
    if df4_grpsubgrp.schema[col_name].dataType == StringType():
        df4_grpsubgrp = df4_grpsubgrp.withColumn(col_name, when(col(col_name).isNull(), "NA").otherwise(col(col_name)))

# Drop duplicate and Show DataFrame including the replaced values
df4_grpsubgrp_dupdropped=df4_grpsubgrp.dropDuplicates()
df4_grpsubgrp_dupdropped.printSchema()

df5_hospital = spark.read.csv("s3://puskalawsbucket/capstone_puskal/hospital.csv",header='True', inferSchema='True')
# Count null values for each column
null_counts = {}
for col_name in df5_hospital.columns:
    null_counts[col_name] = df5_hospital.filter(col(col_name).isNull()).count()
# Display null counts
print("Null Value Counts:")
for col_name, count in null_counts.items():
    print(f"{col_name}: {count}")
# Replace null values with "NA" for string-type columns
for col_name in df5_hospital.columns:
    if df5_hospital.schema[col_name].dataType == StringType():
        df5_hospital = df5_hospital.withColumn(col_name, when(col(col_name).isNull(), "NA").otherwise(col(col_name)))
# Drop duplicate and Show DataFrame including the replaced values
df5_hospital_dupdropped=df5_hospital.dropDuplicates()
df5_hospital_dupdropped.printSchema()

df6_patient_record = spark.read.csv("s3://puskalawsbucket/capstone_puskal/Patient_records.csv",header='True', inferSchema='True')
# Count null values for each column
null_counts = {}
for col_name in df6_patient_record.columns:
    null_counts[col_name] = df6_patient_record.filter(col(col_name).isNull()).count()

# Display null counts
print("Null Value Counts:")
for col_name, count in null_counts.items():
    print(f"{col_name}: {count}")

# Replace null values with "NA" for string-type columns
for col_name in df6_patient_record.columns:
    if df6_patient_record.schema[col_name].dataType == StringType():
        df6_patient_record = df6_patient_record.withColumn(col_name, when(col(col_name).isNull(), "NA").otherwise(col(col_name)))

# Drop duplicate and Show DataFrame including the replaced values
df6_patient_record_dupdropped=df6_patient_record.dropDuplicates()
df6_patient_record_dupdropped.printSchema()

df7_subgroup = spark.read.csv("s3://puskalawsbucket/capstone_puskal/subgroup.csv",header='True', inferSchema='True')
# Count null values for each column using dict
null_counts = {}
for col_name in df7_subgroup.columns:
    null_counts[col_name] = df7_subgroup.filter(col(col_name).isNull()).count()
# Display null counts
print("Null Value Counts:",null_counts) #debugging using print
for col_name, count in null_counts.items():
    print(f"{col_name}: {count}")
# Replace null values with "NA" for string-type columns
for col_name in df7_subgroup.columns:
    if df7_subgroup.schema[col_name].dataType == StringType():
        df7_subgroup = df7_subgroup.withColumn(col_name, when(col(col_name).isNull(), "NA").otherwise(col(col_name)))
        #Can also use inbuilt function named fillNA
df7_subgroup.show() #debuggging using print
# Drop duplicate and Show DataFrame including the replaced values
df7_subgroup_dupdropped=df7_subgroup.dropDuplicates()
df7_subgroup_dupdropped.printSchema()

df8_subscriber = spark.read.csv("s3://puskalawsbucket/capstone_puskal/subscriber.csv",header='True', inferSchema='True')
# Count null values for each column
null_counts = {}
for col_name in df8_subscriber.columns:
    null_counts[col_name] = df8_subscriber.filter(col(col_name).isNull()).count()
# Display null counts
print("Null Value Counts:")
for col_name, count in null_counts.items():
    print(f"{col_name}: {count}")
# Replace null values with "NA" for string-type columns
for col_name in df8_subscriber.columns:
    if df8_subscriber.schema[col_name].dataType == StringType():
        df8_subscriber = df8_subscriber.withColumn(col_name, when(col(col_name).isNull(), "NA").otherwise(col(col_name)))

# Drop duplicate and Show DataFrame including the replaced values
# df8_subscriber.createOrReplaceTempView("df1")
# df.createOrReplaceTempView("df1")
# df1 = spark.sql("""
#     SELECT 
#         `df`.`sub _id` as sub_id,
#         `df`.`first_name` as first_name,
#         `df`.`last_name` as last_name,
#         `df`.`Street` as Street,
#         `df`.`Birth_date` as Birth_date,
#         `df`.`Gender` as Gender,
#         `df`.`Phone` as Phone,
#         `df`.`Country` as Country,
#         `df`.`City` as City,
#         `df`.`Zip Code` as Zip_Code,
#         `df`.`Subgrp_id` as Subgrp_id,
#         `df`.`Elig_ind` as Elig_ind,
#         `df`.`eff_date` as eff_date,
#         `df`.`term_date` as term_date
#     FROM df
# """)
df8_subscriber_dupdropped=df8_subscriber.dropDuplicates()
df8_subscriber_dupdropped.printSchema()
df8_subscriber_dupdropped.show()

# df1_claims_dupdropped.printSchema()
# df2_disease_dupdropped.printSchema()
# df3_group_dupdropped.printSchema()
# df4_grpsubgrp_dupdropped.printSchema()
# df5_hospital_dupdropped.printSchema()
# df6_patient_record_dupdropped.printSchema()
# df7_subgroup_dupdropped.printSchema()
# df8_subscriber_dupdropped.printSchema()

Null Value Counts: {'Claim_Or_Rejected': 0, 'SUB_ID': 0, 'claim_amount': 0, 'claim_date': 0, 'claim_id': 0, 'claim_type': 0, 'disease_name': 0, 'patient_id': 0}
Claim_Or_Rejected: 0
SUB_ID: 0
claim_amount: 0
claim_date: 0
claim_id: 0
claim_type: 0
disease_name: 0
patient_id: 0
root
 |-- Claim_Or_Rejected: string (nullable = true)
 |-- SUB_ID: string (nullable = true)
 |-- claim_amount: string (nullable = true)
 |-- claim_date: string (nullable = true)
 |-- claim_id: long (nullable = true)
 |-- claim_type: string (nullable = true)
 |-- disease_name: string (nullable = true)
 |-- patient_id: long (nullable = true)

Null Value Counts: Disease_name {'SubGrpID': 0, ' Disease_ID': 0, 'Disease_name': 0}
SubGrpID: 0
 Disease_ID: 0
Disease_name: 0
root
 |-- SubGrpID: string (nullable = true)
 |--  Disease_ID: integer (nullable = true)
 |-- Disease_name: string (nullable = true)

Null Value Counts:
Country: 0
premium_written: 0
zipcode: 0
Grp_Id: 0
Grp_Name: 0
Grp_Type: 0
city: 0
year: 0
root
 |-- Country: string (nullable = true)
 |-- premium_written: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- Grp_Id: string (nullable = true)
 |-- Grp_Name: string (nullable = true)
 |-- Grp_Type: string (nullable = true)
 |-- city: string (nullable = true)
 |-- year: integer (nullable = true)

Null Value Counts:
SubGrp_ID: 0
Grp_Id: 0
root
 |-- SubGrp_ID: string (nullable = true)
 |-- Grp_Id: string (nullable = true)

Null Value Counts:
Hospital_id: 0
Hospital_name: 0
city: 0
state: 0
country: 0
root
 |-- Hospital_id: string (nullable = true)
 |-- Hospital_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)

Null Value Counts:
Patient_id: 0
Patient_name: 17
patient_gender: 0
patient_birth_date: 0
patient_phone: 2
disease_name: 0
city: 0
hospital_id: 0
root
 |-- Patient_id: integer (nullable = true)
 |-- Patient_name: string (nullable = true)
 |-- patient_gender: string (nullable = true)
 |-- patient_birth_date: date (nullable = true)
 |-- patient_phone: string (nullable = true)
 |-- disease_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hospital_id: string (nullable = true)

Null Value Counts: {'SubGrp_id': 0, 'SubGrp_Name': 0, 'Monthly_Premium': 0}
SubGrp_id: 0
SubGrp_Name: 0
Monthly_Premium: 0
+---------+-------------------+---------------+
|SubGrp_id|        SubGrp_Name|Monthly_Premium|
+---------+-------------------+---------------+
|     S101|Deficiency Diseases|           3000|
|     S102|           Accident|           1000|
|     S103|         Physiology|           2000|
|     S104|            Therapy|           1500|
|     S105|          Allergies|           2300|
|     S106|     Self inflicted|           1200|
|     S107|             Cancer|           3200|
|     S108| Infectious disease|           1500|
|     S109|         Hereditary|           2000|
|     S110|              Viral|           1000|
+---------+-------------------+---------------+

root
 |-- SubGrp_id: string (nullable = true)
 |-- SubGrp_Name: string (nullable = true)
 |-- Monthly_Premium: integer (nullable = true)

Null Value Counts:
sub _id: 0
first_name: 27
last_name: 0
Street: 0
Birth_date: 0
Gender: 0
Phone: 3
Country: 0
City: 0
Zip Code: 0
Subgrp_id: 2
Elig_ind: 4
eff_date: 0
term_date: 0
root
 |-- sub _id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- Birth_date: date (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zip Code: integer (nullable = true)
 |-- Subgrp_id: string (nullable = true)
 |-- Elig_ind: string (nullable = true)
 |-- eff_date: date (nullable = true)
 |-- term_date: date (nullable = true)

+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|   sub _id|first_name|  last_name|           Street|Birth_date|Gender|         Phone|Country|                City|Zip Code|Subgrp_id|Elig_ind|  eff_date| term_date|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
|SUBID10013|  Brahmvir|        Rai|        Shah Path|1991-11-11|  Male|+91 7316972612|  India|              Ambala|  249898|     S106|       N|2011-11-11|2020-05-23|
|SUBID10012|Dharmadaas|     Tiwari|             Rama|1964-04-29|  Male|+91 6345482027|  India|Bhalswa Jahangir Pur|  430793|     S103|       N|1984-04-29|1988-02-07|
|SUBID10011|        NA|Vishwakarma|      Rajagopalan|1955-01-22|Female|+91 4146391938|  India|           Ghaziabad|  337042|     S106|       N|1975-01-22|1978-11-02|
|SUBID10018|Bhagavaana|      Kumar|    Kulkarni Zila|1935-09-16|Female|+91 6071745855|  India|        Shahjahanpur|  597276|     S101|       N|1955-09-16|1958-05-31|
|SUBID10002|   Ujjawal|       Devi|      Mammen Zila|1980-04-16|  Male|+91 8547451606|  India|           Berhampur|  914455|     S106|       N|2000-04-16|2008-05-04|
|SUBID10009|        NA|      Gupta|    Thakur Circle|1925-06-12|  Male|+91 1780763280|  India|           Bangalore|  957469|     S105|       Y|1945-06-12|1953-08-30|
| SUBID1020|     Umang|  Srivastav|      Balay Chowk|1963-07-14|Female|+91 9485838770|  India|            Haridwar|  181692|     S109|       Y|1983-07-14|1986-01-15|
| SUBID1010|        NA|     Divedi|          Dhillon|1976-02-03|  Male|+91 5586075345|  India|              Rajkot|  911319|     S102|       Y|1996-02-03|2002-01-27|
|SUBID10000|    Harbir|Vishwakarma|       Baria Marg|1924-06-30|Female|+91 0112009318|  India|            Rourkela|  767058|     S107|       Y|1944-06-30|1954-01-14|
|SUBID10014|        NA|  Srivastav|     Chandra Path|1981-01-25|Female|+91 2960004518|  India|Surendranagar Dud...|  111966|     S102|       N|2001-01-25|2005-07-13|
|SUBID10016| Amritkala|  Srivastav|        Guha Path|1933-11-20|Female|+91 0537157280|  India|              Meerut|  863467|     S106|       Y|1953-11-20|1955-07-29|
|SUBID10003|   Ballari|     Mishra|       Sahni Zila|1969-09-25|Female|+91 0106026841|  India|        Bihar Sharif|   91481|     S104|       N|1989-09-25|1995-06-05|
|SUBID10005|     Atasi|       Seth|     Khatri Nagar|1967-10-02|  Male|+91 9747336855|  India|            Amravati|  229062|     S104|       Y|1987-10-02|1995-02-13|
|SUBID10015|   Bhagvan|  Srivastav|            Edwin|1966-07-24|Female|+91 0297693485|  India|          Bhimavaram|  436513|     S105|       Y|1986-07-24|1988-02-04|
|SUBID10019|        NA|     Maurya|     Sharaf Nagar|1924-11-09|Female|+91 8906694405|  India|            Jabalpur|  958538|     S104|       N|1944-11-09|1951-10-14|
|SUBID10017|    Bandhu|       Seth|        Varughese|1996-10-15|  Male|+91 0695289163|  India|           Chinsurah|  136713|     S108|       N|2016-10-15|2018-06-08|
|SUBID10001|  Brahmdev|     Sonkar|        Lala Marg|1948-12-20|Female|+91 1727749552|  India|        Tiruvottiyur|   34639|     S105|       Y|1968-12-20|1970-05-16|
|SUBID10008|   Gurudas|      Gupta|      Sarin Nagar|1945-05-06|  Male|+91 1232859381|  India|           Kamarhati|  933226|     S103|       Y|1965-05-06|1970-09-16|
|SUBID10004|   Devnath|  Srivastav|       Magar Zila|1946-05-01|Female|+91 1868774631|  India|         Bidhannagar|  531742|     S110|       N|1966-05-01|1970-12-09|
| SUBID1006|    Manish|     Maurya|Swaminathan Chowk|1967-06-06|  Male|+91 4354294043|  India|              Panvel|  438733|     S109|      NA|1987-06-06|1995-03-21|
+----------+----------+-----------+-----------------+----------+------+--------------+-------+--------------------+--------+---------+--------+----------+----------+
only showing top 20 rows

In [0]:
# Which disease has a maximum number of claims
df1_claims_dupdropped.createOrReplaceTempView("df_claims")
df1=spark.sql("select disease_name, count(disease_name) as max_num_claims from df_claims group by disease_name order by max_num_claims desc limit 1")

df1.show()
df2 = df1.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.disease_claims").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+------------+--------------+
|disease_name|max_num_claims|
+------------+--------------+
| Pet allergy|             3|
+------------+--------------+

In [0]:
# Find those Subscribers having age less than 30 and they subscribe any subgroup 
from pyspark.sql.functions import current_date, datediff, col,round
df = df8_subscriber_dupdropped.withColumn("age", round(datediff(current_date(), col("Birth_date")) / 365.25, 1)) #the one here rounds the result to 1 decimal place
df.createOrReplaceTempView("df1")
#or
# df = df8_subscriber_dupdropped.withColumn("age", (year(current_date()) - (year(col("Birth_date")))) #the one here rounds the result to 1 decimal place
df.createOrReplaceTempView("df1")
df1=spark.sql("select concat(first_name,last_name) as subscriber_name,age from df1 where age <30")
#remove show fn in real code
df1.show()
df2 = df1.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.Sub_les_than_30").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+-----------------+
|  subscriber_name|
+-----------------+
| BhilanganaPandit|
|       BandhuSeth|
|ChandavarmanSingh|
+-----------------+

In [0]:
# Find out which group has maximum subgroups. 
df4_grpsubgrp_dupdropped.createOrReplaceTempView("df1")
df1=spark.sql("select Grp_id, count(SubGrp_ID) as num_subgrp from df1 group by Grp_Id")
# Find the maximum count of subgroups
max_num_subgrp = df1.agg({"num_subgrp": "max"}).collect()[0][0] 
# Filter the DataFrame to include only rows with the maximum count
df2 = df1.filter(df1.num_subgrp == max_num_subgrp)

#instead TRY RANK

# Show the result
df2.show()
df2 = df2.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.max_subgrp").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+------+----------+
|Grp_id|num_subgrp|
+------+----------+
|GRP104|         2|
|GRP147|         2|
|GRP143|         2|
+------+----------+

In [0]:
#Find out hospital which serve most number of patients 
df5_hospital_dupdropped.createOrReplaceTempView("df")
df6_patient_record_dupdropped.createOrReplaceTempView("df1")
df2=spark.sql("select df.Hospital_name,count(df1.Patient_id) as most_num_patient from df join df1 on df.Hospital_id =df1.hospital_id group by df.Hospital_name order by most_num_patient desc limit 1")
df2.show()
df2 = df2.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.max_patient").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+-----------------+----------------+
|    Hospital_name|most_num_patient|
+-----------------+----------------+
|Manipal Hospitals|               9|
+-----------------+----------------+

In [0]:
# Find out which subgroups subscribe most number of times
#Note to self: the column name as space in them so, use backtik; eg:count(`df1`.`sub _id`)as max_subcriber
df7_subgroup_dupdropped.createOrReplaceTempView("df")
df8_subscriber_dupdropped.createOrReplaceTempView("df1")

df2=spark.sql("select df.SubGrp_Name, count(`df1`.`sub _id`) as max_subcriber from df join df1 on df.SubGrp_id = df1.Subgrp_id group by df.SubGrp_Name order by max_subcriber desc limit 1")
df2.show()
df2 = df2.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.most_subcriber").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+-----------+-------------+
|SubGrp_Name|max_subcriber|
+-----------+-------------+
|    Therapy|           13|
+-----------+-------------+

In [0]:
#Find out total number of claims which were rejected
df1_claims_dupdropped.createOrReplaceTempView("df")
df1= spark.sql("select count(claim_id) as Rejected_Claims from df where Claim_Or_rejected == 'Y'")
df1.show()
df2 = df1.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.Rejected_Claims").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+---------------+
|Rejected_Claims|
+---------------+
|             18|
+---------------+

In [0]:
#From where most claims are coming (city) 
df = df1_claims_dupdropped.withColumn("patient_id",col("patient_id").cast("int"))
df.createOrReplaceTempView("df")

df6_patient_record_dupdropped.createOrReplaceTempView("df1")

df2 = spark.sql("""
    SELECT df1.city, COUNT(df.claim_id) AS max_claim_by_city
    FROM df1
    JOIN df ON df1.patient_id = df.patient_id
    GROUP BY df1.city
    ORDER BY max_claim_by_city DESC
    LIMIT 6
""")
df2.show()
df2 = df2.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.Max_claims_by_city").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+------------+-----------------+
|        city|max_claim_by_city|
+------------+-----------------+
|    Amravati|                2|
|       Morbi|                2|
|   Kamarhati|                2|
|Bihar Sharif|                2|
|   Ghaziabad|                2|
|    Jabalpur|                2|
+------------+-----------------+

In [0]:
#Which groups of policies subscriber subscribe mostly Government or private
df3_group_dupdropped.createOrReplaceTempView("df")

df1 =spark.sql("select Grp_Name, Grp_Type from df where Grp_Type like 'Gov%' order by Grp_Name ")
df1.show()
df2 = df1.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.govt_groups").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+--------------------+--------+
|            Grp_Name|Grp_Type|
+--------------------+--------+
|Agriculture Insur...|   Govt.|
|Export Credit Gua...|   Govt.|
|Life Insurance Co...|   Govt.|
|National Insuranc...|   Govt.|
| New India Assurance|   Govt.|
|The Oriental Insu...|   Govt.|
|United India Insu...|   Govt.|
+--------------------+--------+

In [0]:
#Average monthly premium subscriber pay to insurance company(note:use AVG fn)
df7_subgroup_dupdropped.createOrReplaceTempView("df")
df8_subscriber_dupdropped.createOrReplaceTempView("df1")
df1 = spark.sql("""
    SELECT avg(df.Monthly_Premium) AS avg_monthly_premium
    FROM df
    JOIN df1 ON df.SubGrp_id = df1.Subgrp_id GROUP BY df1.`sub _id` ORDER BY avg_monthly_premium desc limit 1
""")
df1.show()
df2 = df1.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.Avg_MonthyPremium").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+-------------------+
|avg_monthly_premium|
+-------------------+
|             3200.0|
+-------------------+

In [0]:

#Find out Which group is most profitable
df3_group_dupdropped.createOrReplaceTempView("df")
df4_grpsubgrp_dupdropped.createOrReplaceTempView("df1")
df7_subgroup_dupdropped.createOrReplaceTempView("df2")


df3=spark.sql("select df.Grp_Name,df1.SubGrp_ID from df join df1 on df.Grp_Id=df1.Grp_Id")
df3.createOrReplaceTempView("df3")
df4=spark.sql("select df3.Grp_Name,df2.Monthly_Premium from df3 join df2 on df3.SubGrp_ID=df2.SubGrp_Id order by df2.Monthly_Premium desc limit 1")
df5 = df4.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.Most_Profitable_Grp").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

In [0]:
#List all the patients below age of 18 who admit for cancer
#No patient with age less than 18 with cancer so, looking for patient below 45
from pyspark.sql.functions import *
df6_patient_record_dupdropped.createOrReplaceTempView("df")
# Adding a column 'age' to the DataFrame
df1 = df6_patient_record_dupdropped.withColumn("age", (datediff(current_date(), col("patient_birth_date")) / 365).cast("int"))
# Filtering rows based on age and disease name pattern
result_df = df1.filter((col("age") < 45) & ((lower(col("disease_name")).like("%can%")) | (upper(col("disease_name")).like("CAN%")))).select("Patient_name")
result_df.show()

df2 = df1.write.mode("overwrite").format("redshift").option("url", "jdbc:redshift://default-workgroup.533267297424.us-east-2.redshift-serverless.amazonaws.com:5439/dev").\
   option("dbtable", "test.Cancer_patient_below_45").\
   option("aws_iam_role", "arn:aws:iam::533267297424:role/redshiftadmin").\
   option("user", "admin").\
   option("tempdir", "s3a://puskalawsbucket/tempdir/").\
   option("password", "Welcomehome1").save()

+------------+
|Patient_name|
+------------+
|     Ujjawal|
+------------+

In [0]:
#List patients who have cashless insurance and have total charges greater than or equal for Rs. 50,000
#there are no subgroup with Monthly_premium= 0 so, the question asking for Cashles Insurance is invalid.

df = df1_claims_dupdropped.withColumn("patient_id", col("patient_id").cast("int")).withColumn("claim_amount", col("claim_amount").cast("int"))
df.createOrReplaceTempView("df")
df8_subscriber_dupdropped.createOrReplaceTempView("df1")
df7_subgroup_dupdropped.createOrReplaceTempView("df2")
df6_patient_record_dupdropped.createOrReplaceTempView("df3")


spark.sql("select df.Claim_Or_Rejected,  df3.Patient_name,df.claim_amount from df join df3 on df.patient_id = df3.Patient_id where Claim_Or_Rejected like 'Na%' and claim_amount >= 50000 order by claim_amount desc ").show()
spark.sql("select * from df1 limit 10").show()
spark.sql("select * from df2 where `Monthly_Premium`<10 limit 10").show()

+-----------------+------------+------------+
|Claim_Or_Rejected|Patient_name|claim_amount|
+-----------------+------------+------------+
|              NaN|       Ekant|      192381|
|              NaN|    Brahmvir|      192340|
|              NaN|    Chakrika|      188727|
|              NaN|          NA|      182552|
|              NaN|       Aakar|      177186|
|              NaN|    Gajabahu|      171729|
|              NaN|          NA|      164159|
|              NaN|      Gensho|      161199|
|              NaN|     Paridhi|      159815|
|              NaN|    Deependu|      156557|
|              NaN|          NA|      152901|
|              NaN|    Brahmdev|      151142|
|              NaN|     Ballari|      143120|
|              NaN|      Jitesh|      139755|
|              NaN|      Chanak|      124734|
|              NaN|          NA|      118452|
|              NaN|   Madhubala|      108526|
|              NaN| Bhageeratha|       99313|
|              NaN|       Swati|       81651|
|              NaN|  Dharmadaas|       75983|
+-----------------+------------+------------+
only showing top 20 rows

In [0]:
#List female patients over the age of 40 that have undergone knee surgery in the past year
# # No discease name with "knee Surgery" found so, No soln for this use case